/*
 <h1 class="titulo_principal" id="title-main >hola</h2>

 h1{} -->100% importancia
 .titulo_principal{} -->


*/
h1{font-size: 54px; color: #6ba793;}
/* .titulo{color: aquamarine; font-size: 500px;} */
/* #idTitle{ font-weight: 100;} */
